.design {
  content: "";
  height: 40px;
  display: block;
  background: #ffbbbb;
  position: relative;
}

.development {
  content: "";
  height: 40px;
  display: block;
  background: #ffddbb;
  position: relative;
}

.product {
  content: "";
  height: 40px;
  display: block;
  background: #ffffbb;
  position: relative;
}

.finance {
  content: "";
  height: 40px;
  display: block;
  background: #bbffbb;
  position: relative;
}

.marketing {
  content: "";
  height: 40px;
  display: block;
  background: #bbffdd;
  position: relative;
}

.sales {
  content: "";
  height: 40px;
  display: block;
  background: #bbffff;
  position: relative;
}

.analytics {
  content: "";
  height: 40px;
  display: block;
  background: #bbddff;
  position: relative;
}

.IT {
  content: "";
  height: 40px;
  display: block;
  background: #bbbbff;
  position: relative;
}

.legal {
  content: "";
  height: 40px;
  display: block;
  background: #ddbbff;
  position: relative;
}

.HR {
  content: "";
  height: 40px;
  display: block;
  background: #ffbbff;
  position: relative;
}

.default {
  content: "";
  height: 40px;
  display: block;
  background: #ffbbdd;
  position: relative;
}
