.card {
    background-color: #f0f0f0;
    color:rgb(36, 36, 36);
    border: 1px solid #000000;
    padding: 1.5rem;
    height: 550px;
    width: 400px;
    text-align: start;
    border-radius: 5px;
}