header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 4rem;
  height: 140px;
  max-height: 200px;
  width: 100%;
  position: fixed;
  z-index: 5;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}

.menuLink {
  font-size: 16pt;
  color: #3d3e41;
}

a {
  text-decoration: none;
}

a:hover {
  color: #5a27a5;
  border-bottom: 5px dotted rgb(233 243 95);
}

.active {
  color: #3d3e41;
  border-bottom: 5px solid rgb(233 243 95);
}

header h2 {
  font-size: 16pt;
}

.logo img {
  height: 90px;
  width: 90px;
  margin-top: 1rem;
}

.logo a:hover {
  border: none;
}
