.profileContainer {
  width: 100%;
  height: 100%;
  padding: 10rem 2rem 4rem 2rem;
}

.profileCard {
  background-color: #ffffff;
  color: #3d3e41;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 1100px;
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
  /*padding: 0 1rem 2rem 1rem;
  /*text-align: center;*/
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sections {
  display: flex;
  flex-direction: column;
}

.titleSection,
.managementSection,
.personalSection,
.otherInfoSection {
  flex: 1;
}
.cardHeader {
  width: 800px;
  height: 50px;
  display: block;
  position: relative;
}

.bannerTextWrapper {
  width: 800px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.dptTitle {
  /*flex: 1;*/
  font-weight: 700;
  font-size: 14pt;
  display: inline;
  /*width: 100%;*/
  height: 100%;
  margin-top: 1.5rem;
  margin-left: 2rem;
  text-align: left;
  opacity: 0.8;
}

.locTitle {
  font-weight: 700;
  display: inline;
  /*width: 100%;*/
  height: 100%;
  margin-top: 1.5rem;
  margin-right: 2rem;
  text-align: right;
  opacity: 0.8;
  /* top: 2rem;
  right: 2rem;
  flex: 1;*/
}

/*.imgTextContainer {
  position: absolute;
  top: 320px;
}*/

.titleSection {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
}

.cardImg {
  flex: 1;
  width: 200px;
  height: 200px;
}

.titleSectionText {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.managementSection,
.personalSection,
.otherInfoSection {
  text-align: left;
}

.managementSection h2,
.personalSection h2,
.otherInfoSection h2 {
  font-size: 20pt;
  text-decoration: underline;
}

.badgeImg {
  height: 150px;
  position: absolute;
  top: 4rem;
  left: 0;
}

.dpt {
  position: absolute;
  top: 4rem;
  left: 2rem;
  flex: 1;
  z-index: 5;
}

.loc {
  position: absolute;
  top: 4rem;
  right: 2rem;
  flex: 1;
  z-index: 5;
}
