.profileContainer {
  width: 100%;
  height: 100%;
  padding: 10rem 2rem 4rem 2rem;
}

.profileCard {
  position: relative;
  font-size: 14pt;
  line-height: 1.7rem;
  min-height: 1200px;
  max-height: 2100px;
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #3d3e41;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cardHeader {
  display: block;
  position: relative;
  width: 800px;
  height: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bannerTitleWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 50px;
}

.bannerTitleDpt {
  display: inline;
  color: #222020;
  font-size: 16pt;
  font-weight: 700;
  text-align: left;
  height: 100%;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.bannerTitleLoc {
  display: inline;
  color: #222020;
  font-size: 16pt;
  font-weight: 700;
  text-align: right;
  height: 100%;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.bannerInputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
  padding-bottom: 1rem;
}

.departmentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.departmentWrapper label {
  flex: 1;
  font-size: 14pt;
  font-weight: 700;
  margin: 1rem 0 0 2rem;
}

.departmentWrapper select {
  flex: 1;
}

.locationWrapper {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  gap: 0.5rem;
}

.locationLabel {
  flex: 1;
  align-self: start;
  font-size: 14pt;
  font-weight: 700;
  text-align: left;
  margin: 0.5rem 2rem 0 0;
}

.radioContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin: 0.7rem 2rem 0.7rem 0;
  gap: 1rem;
}

.radioWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.radioInput input[type="radio"] {
  flex: 1;
  height: 1rem;
  margin: none;
  box-shadow: none;
}

.radioLabel label {
  flex: 1;
}

.badgeImg {
  height: 160px;
  position: absolute;
  top: 4.5rem;
  left: 0.8rem;
}

.cardImg {
  flex: 1;
  align-self: flex-end;
  height: 240px;
  margin-top: 3.5rem;
}

.sections {
  display: flex;
  flex-direction: column;
}

.titleSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  height: 360px;
  margin-bottom: 1rem;
  padding: 3rem 5rem 1rem 5rem;
  gap: 6rem;
}

.titleSectionText {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.titleSectionText h1 {
  flex: 1;
  font-size: 24pt;
  position: absolute;
  top: 6rem;
  margin-right: 1rem;
}

.titleSectionText h3 {
  flex: 1;
  position: absolute;
  top: 9.5rem;
  margin-right: 1rem;
  font-size: 16pt;
}

.statusText {
  flex: 1;
  font-style: italic;
  text-transform: lowercase;
  font-size: 14pt;
  position: absolute;
  top: 11.5rem;
  margin-right: 1rem;
}

.titleDataWrapper label {
  font-weight: 700;
  text-align: left;
  margin-top: 0.5rem;
}

.titleDataWrapper p {
  text-align: left;
  opacity: 0.8;
}

.skillsWrapper {
  flex: 1;
  width: 300px;
  text-align: left;
  position: absolute;
  top: 14rem;
  left: 425px;
}

.projectsWrapper {
  flex: 1;
  width: 300px;
  text-align: left;
  position: absolute;
  top: 20rem;
  left: 425px;
}

.titleInputWrapper {
  display: flex;
  flex-direction: column;
}

.titleInputWrapper label {
  text-align: left;
  align-self: flex-start;
  font-weight: 700;
  margin-top: 0.7rem;
}

.titleInputWrapper input {
  margin-top: 0.3rem;
}

.managementSection,
.personalSection,
.otherInfoSection {
  flex: 1;
  text-align: left;
  margin: 1rem 5rem;
}

.managementSection h2,
.personalSection h2,
.otherInfoSection h2 {
  font-size: 16pt;
  text-decoration: underline;
  margin: 0.5rem 0 1rem 0;
}

.dataWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.dataWrapper label {
  flex: 1;
  font-weight: 700;
}

.dataWrapper p {
  flex: 1;
  opacity: 0.8;
}

.inputWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.inputWrapper label {
  flex: 1;
  font-size: 14pt;
  font-weight: 700;
  text-align: left;
}

.inputWrapper input,
.inputWrapper select,
.titleInputWrapper input,
.titleInputWrapper select,
.departmentWrapper select {
  flex: 1;
  background-color: #ffffff;
  color: #3d3e41;
  font-family: "Cal Sans";
  font-size: 14pt;
  opacity: 0.8;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  padding: 0.7rem;
  margin: 0.7rem auto;
  border: 1px solid #3d3e41;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

.departmentWrapper select {
  margin-left: 2rem;
}

.otherInfoSection {
  width: 640px;
  min-width: 640px;
  max-width: 640px;
}

.otherInfoWrapper textarea {
  background-color: #ffffff;
  color: #3d3e41;
  font-family: "Cal Sans";
  font-size: 14pt;
  opacity: 0.8;
  width: 640px;
  min-width: 640px;
  max-width: 640px;
  height: 120px;
  margin-top: 1rem;
  padding: 0.7rem;
  border: 1px solid #3d3e41;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.scheduleContainer {
  flex: 1;
  align-self: flex-start;
  margin: 1rem 0 2rem 0;
}

.scheduleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 5rem;
  gap: 0.5rem;
}

.scheduleIcon {
  flex: 1;
}

.calendar {
  height: 25px;
  max-width: 25px;
  align-self: center;
}

.award {
  height: 50px;
  max-width: 50px;
  align-self: center;
}

.scheduleText {
  flex: 5;
  color: #5a27a5;
  font-size: 14pt;
  font-weight: 700;
  text-align: left;
}

.employeeBtn {
  flex: 1;
  width: 170px;
  max-width: 170px;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 5rem;
}

button:disabled {
  color: #8e9098;
  border: 1px solid #8e9098;
}

button:disabled:hover {
  color: #8e9098;
  border: 1px solid #8e9098;
  background-color: #ebf0a2;
  cursor: auto;
}

.message {
  font-size: 18pt;
  margin-bottom: 3rem;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.error {
  color: #ce215a;
}

.success {
  color: #307112;
}
