* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
#root {
  width: 100vw;
}*/

body {
  background-color: #f1f3f8;
  color: #3d3e41;
  font-family: "Cal Sans";
  font-size: 14pt;
  text-align: center;
  height: 100%;
  width: 100vw;
  margin: 0;
}

main {
  min-height: calc(100vh - 135px);
  width: 100%;
}

button {
  background-color: #ebf0a2;
  color: #3d3e41;
  font-family: "Cal Sans";
  font-size: 14pt;
  font-weight: 700;
  width: 170px;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #3d3e41;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button:hover {
  background-color: #ded3f0;
  color: #5a27a5;
  border: 1px solid #5a27a5;
}

input[type="text"]:focus,
select:focus {
  border: 2px solid #e9f35f;
}

input::placeholder {
  opacity: 0.6;
  font-style: italic;
}

.design {
  background: #d6adad;
}

.development {
  background: #d5bcad;
}

.product {
  background: #d5d6af;
}

.finance {
  background: #bed7ae;
}

.marketing {
  background: #b1d7af;
}

.sales {
  background: #b1d6bd;
}

.analytics {
  background: #b1d6d6;
}

.customer {
  background: #aebcd5;
}

.IT {
  background: #adabd6;
}

.legal {
  background: #bdaad6;
}

.HR {
  background: #d6abd5;
}

.default {
  background: #d6acbd;
}
