/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #242424;
  font-family: "Josefin Sans";
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/

/*:root {
  color-scheme: light dark;
  color: rgba(47, 42, 42, 0.87);
  background-color: #4a95ea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
}

/*main h1 {
  padding: 2rem;
}*/

/*.container {
  max-width: 960px;
  margin: 0 auto;
}*/

body {
  color: #3d3e41;
  margin: 0;
  height: 100%;
  width: 100vw;
  text-align: center;
  font-size: 14pt;
  font-family: "Cal Sans";
  background-color: #d8d9dc;
  background-color: #f1f3f8;
}

main {
  min-height: calc(100vh - 135px);
  width: 100%;
}

button {
  font-family: "Cal Sans";
  font-size: 14pt;
  font-weight: 800;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  width: 170px;
  color: #3d3e41;
  background-color: #cfddff;
  color: #3136d4;
  background-color: #c6c9ff;

  border-radius: 8px;
  border: 1px solid #3136d4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button:hover {
  background-color: #fff49e;
  /*border: 1px solid #e1e1be;*/
}

input[type="text"]:focus,
select:focus {
  border: 2px solid #fce858;
}

input::placeholder {
  opacity: 0.6;
  font-style: italic;
}

/*
input,
select {
  font-family: "Cal Sans";
  font-size: 14pt;
  padding: 0.4rem;
  margin: 0.3rem 0 0.3rem 0;
  background-color: #fafae6;
  color: rgba(20, 10, 6);
  border-radius: 5px;
  border: 2px solid rgba(20, 10, 6);
  width: 260px;
}

select:hover,
select:active,
input:hover,
input:active {
  border: 2px solid #db5d0f;
}

label {
  font-size: 18pt;
  margin-right: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3rem 0;
}

.white-font {
  color: #ffffff;
}

h1 {
  font-size: 38pt;
  margin-bottom: 2rem;
}

.addinput-h1 {
  font-size: 30pt;
}

.add-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 35vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



.add-btn {
  width: 120px;
  align-self: center;
  margin-top: 1rem;
}

/*.dpt-select {
  content: "";
  height: 40px;
  display: block;
  position: relative;
}*/

.design {
  background: #ffbbbb;
}

.development {
  background: #ffddbb;
}

.product {
  background: #ffffbb;
}

.finance {
  background: #bbffbb;
}

.marketing {
  background: #bbffdd;
}

.sales {
  background: #bbffff;
}

.analytics {
  background: #bbddff;
}

.IT {
  background: #bbbbff;
}

.legal {
  background: #ddbbff;
}

.HR {
  background: #ffbbff;
}

.default {
  background: #ffbbdd;
}
